# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IDE - VSCode
.vscode/*
!.vscode/*-template.json
!.vscode/*-template.jsonc
!.vscode/extensions.json

# Keep .gitkeep files
# To keep an empty directory, add a .gitkeep file to it
# and ignore the directory with a wildcard:
#     /path/to/dir/*
# this will ignore the content but not the director itself.
!/**/.gitkeep
